.fixart {
	display: inline-flex;
	flex-wrap: wrap;
}
article h2 {
	font-size: 30px;
	padding-left: 100px;
}

article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	display: inline-block;
}

.artcent {
	margin-left: 260px;
}

.places {
	text-align: left;
	margin-left: 30px;
}

h1 {
	font-size: 30px;
}

.price_by_night {
	color: #ff5a5f;
	text-align: center;
	border: 4px solid #ff5a5f;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	padding: 4px;
	float: right;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.max_guest {
	position: relative;
	width: 100%;
	font-size: 14px;
	left: 45px;
	bottom: 10px;
	float: left;
}

.gicon {
	background-image: url('../images/icon_group.png');
	background-repeat: no-repeat;
	width: 100%;
	height:60px;
    float:left;
    position:relative;
    left: 50px;
	top: 10px;
	padding-bottom: 5px;
}

.number_rooms {
	position: relative;
	width: 100%;
	font-size: 14px;
	left: 135px;
	bottom: 25.7px;
}

.ricon {
	background-image: url('../images/icon_bed.png');
	background-repeat: no-repeat;
	width: 100%;
	height:60px;
    position:relative;
    left: 150px;
	top: 11px;
	padding-bottom: 5px;
}

.number_bathrooms {
	position: relative;
	width: 100%;
	font-size: 14px;
	left: 245px;
	bottom: 107px;
}

.bicon {
	background-image: url('../images/icon_bath.png');
	background-repeat: no-repeat;
	width: 100%;
	height:60px;
    position:relative;
    left: 260px;
	bottom: 90px;
	padding-bottom: 5px;
}

.user {
	font-size: 16px;
}
.description {
	font-size: 16px;
}